
@media (max-width:420px) {
    .webHeaderDiv a{
        font-size: 14px;
        margin: 20px 5px 20px 5px;
    }
}


@media (max-width:340px) {
    .webHeaderDiv a{
        font-size: 12px;
        margin: 20px 5px 20px 5px;
    }
    .webHeaderDiv h1{
        font-size: 15px;
        margin: 5px 5px 5px 8px;
        
    }
}

@media (max-width:620px) {
    .mainNewsTarjetas{
        width: 75%;
    }
    
}


















@media (min-width:725px){
    .productDiv1{
        padding: 0px 20% 0px 20%;
    }
    .productDiv2{
        padding: 0px 20% 0px 20%;
    }
}


@media (min-width:1500px){

    .productDiv2 div p{
        font-size: 38px;
    }
    .productDiv1 div p{
        font-size: 38px;
    }
    
}
@media (max-width:1500px){

    .productDiv2 div p{
        font-size: 30px;
    }
    .productDiv1 div p{
        font-size: 30px;
    }
    
}
@media (max-width:1300px){

    .productDiv2 div p{
        font-size: 26px;
    }
    .productDiv1 div p{
        font-size: 25px;
    }
    
}
@media (max-width:1000px){

    .productDiv2 div p{
        font-size: 22px;
    }
    .productDiv1 div p{
        font-size: 21px;
    }
    
}

@media (max-width:925px){

    .productDiv2 div p{
        font-size: 16px;
    }
    .productDiv1 div p{
        font-size: 16px;
    }
    
}

@media (max-width:725px){

    .productDiv2 div p{
        font-size: 20px;
    }
    .productDiv1 div p{
        font-size: 20px;
    }
    
}

@media (max-width:585px){

    .productDiv2 div p{
        font-size: 18px;
    }
    .productDiv1 div p{
        font-size: 18px;
    }
    
}

@media (max-width:485px){

    .productDiv2 div p{
        font-size: 14px;
    }
    .productDiv1 div p{
        font-size: 14px;
    }
    
}
@media (max-width:440px){

    .productDiv2 div p{
        font-size: 12px;
    }
    .productDiv1 div p{
        font-size: 12px;
    }
}
@media (max-width:375px){

    .productDiv2 div p{
        font-size: 10px;
    }
    .productDiv1 div p{
        font-size: 10px;
    }
}


@media (max-width:700px) {
    
    .nosotrosTag{
        width: 40%;
    }
}
@media (max-width:480px) {
    
    .nosotrosTag{
        width: 75%;
    }
}






@media (max-width: 480px) {
    
    .mainProgramming img{
    
        width: 90px;
        margin: 30px 15px 30px 15px;
    }
}

@media (max-width: 370px) {
    
    .mainProgramming img{
    
        width: 60px;
        margin: 30px 15px 30px 15px;
    }
}

@media (max-width: 400px) {
    
    footer div h5{
        font-size: 11px;
    
    }
}

@media (max-width: 323px) {
    
    footer div h5{
        font-size: 8px;
    
    }
}
