
.nlEmail{
    border-width: 3px;
    border-radius: 6px;
    border-style:solid;
    padding: 4px;
    border-width: 1px;
    }
    
    .nlBtn{
        
    border-width: 3px;
    border-color: rgb(77, 77, 77);
    border-radius: 6px;
    background-color: rgb(12, 12, 12);
    color:  white;
    padding: 0px 5px 0px 5px;
    font-family: 'Athiti', sans-serif;
    }
    
    