
.supportMain{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    

    div{
        display: flex;
        flex-direction: column;
        
        margin: 10px;
        
    }
}

.sMain div{
    padding: 30px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    
    align-self: center;
    justify-self: center;
    
    
    
}

.supportDesc{
    
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    font-weight: 700;
    background-color:rgb(12, 12, 12);
    color: white;
    
    border-radius: 50px;
    text-align: center;
    
}

.supportHeader{
    h3{
    background-color:rgb(12, 12, 12);
    color: white;
    font-family: 'Staatliches', cursive;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    }
}


.supportName{
    
    margin: 5px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    
}

.supportEmail{


    margin: 5px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.supportText{
    margin: 5px;
    border-radius: 15px;
}

.supportSend{
margin: 10px 10px 10px 10px;

align-self: center;
border-radius: 15px;
border-width: 3px;
border-color: rgb(77, 77, 77);
background-color: rgb(12, 12, 12);
color: white;
padding: 10px;
}
